<a href="https://colab.research.google.com/github/motazsaad/Arabic-News/blob/master/read_json_news.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/motazsaad/Arabic-News.git

Cloning into 'Arabic-News'...
remote: Enumerating objects: 347661, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 347661 (delta 0), reused 0 (delta 0), pack-reused 347658
Receiving objects: 100% (347661/347661), 2.81 GiB | 30.53 MiB/s, done.
Resolving deltas: 100% (172/172), done.
Checking out files: 100% (108/108), done.

In [2]:
import os 
corpora_path = '/content/Arabic-News/corpora/'
json_files = sorted([ corpora_path + file for file in os.listdir(corpora_path) if file.endswith('.json') ])
print(json_files)
print(len(json_files))

['/content/Arabic-News/corpora/aljazeera.net_20190419_000.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_001.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_002.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_003.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_004.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_005.json', '/content/Arabic-News/corpora/aljazeera.net_20190419_006.json', '/content/Arabic-News/corpora/arabic.cnn.com_20190419_000.json', '/content/Arabic-News/corpora/arabic.cnn.com_20190419_001.json', '/content/Arabic-News/corpora/arabic.euronews.com_20190409_000.json', '/content/Arabic-News/corpora/arabic.euronews.com_20190409_001.json', '/content/Arabic-News/corpora/arabic.euronews.com_20190409_002.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_000.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_001.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_002.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_003.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_004.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_005.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_006.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_007.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_008.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_009.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_010.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_011.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_012.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_013.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_014.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_015.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_016.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_017.json', '/content/Arabic-News/corpora/arabic.rt.com_20190419_018.json', '/content/Arabic-News/corpora/bbc.com_20190409_000.json', '/content/Arabic-News/corpora/bbc.com_20190409_001.json', '/content/Arabic-News/corpora/bbc.com_20190409_002.json', '/content/Arabic-News/corpora/bbc.com_20190409_003.json', '/content/Arabic-News/corpora/bbc.com_20190409_004.json', '/content/Arabic-News/corpora/bbc.com_20190409_005.json']
37

In [3]:
import json 
from json import JSONDecodeError

json_items = []
for file in json_files:
  try: 
    print('processing:', file)
    infile = open(file, encoding='utf-8').read()
    parts = infile.split("}{")
    for part in parts:
      if part[0] != '{':
        part = "{" + part 
      if part[-1] != '}':
        part = part + "}"
      json_items.append(json.loads(part))
  except JSONDecodeError:
     print('JSONDecodeError file:', file)
print('done')

processing: /content/Arabic-News/corpora/aljazeera.net_20190419_000.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_001.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_002.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_003.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_004.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_005.json
processing: /content/Arabic-News/corpora/aljazeera.net_20190419_006.json
processing: /content/Arabic-News/corpora/arabic.cnn.com_20190419_000.json
JSONDecodeError file: /content/Arabic-News/corpora/arabic.cnn.com_20190419_000.json
processing: /content/Arabic-News/corpora/arabic.cnn.com_20190419_001.json
processing: /content/Arabic-News/corpora/arabic.euronews.com_20190409_000.json
processing: /content/Arabic-News/corpora/arabic.euronews.com_20190409_001.json
processing: /content/Arabic-News/corpora/arabic.euronews.com_20190409_002.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_000.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_001.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_002.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_003.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_004.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_005.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_006.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_007.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_008.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_009.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_010.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_011.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_012.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_013.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_014.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_015.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_016.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_017.json
processing: /content/Arabic-News/corpora/arabic.rt.com_20190419_018.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_000.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_001.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_002.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_003.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_004.json
processing: /content/Arabic-News/corpora/bbc.com_20190409_005.json
done

In [57]:
import pandas as pd 
df =  pd.DataFrame(json_items)
df.head()

                             title  ... title_rss
0           قطر تشتري حصة بشركة شل  ...      NULL
1       مجلس الأمن يبحث طلب فلسطين  ...      NULL
2  بلاتر: العقوبة ضد السودان عادلة  ...      NULL
3   العراق يلغي صفقة سلاح مع روسيا  ...      NULL
4         جدل بمصر حول قرارات مرسي  ...      NULL

[5 rows x 15 columns]

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600313 entries, 0 to 600312
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          600313 non-null  object
 1   description    596553 non-null  object
 2   date_modify    600313 non-null  object
 3   date_download  600313 non-null  object
 4   date_publish   597703 non-null  object
 5   language       600313 non-null  object
 6   source_domain  600313 non-null  object
 7   localpath      600313 non-null  object
 8   url            600313 non-null  object
 9   text           600313 non-null  object
 10  filename       600313 non-null  object
 11  image_url      600313 non-null  object
 12  authors        600313 non-null  object
 13  title_page     600313 non-null  object
 14  title_rss      600313 non-null  object
dtypes: object(15)
memory usage: 68.7+ MB

In [59]:
df['source_domain'].value_counts().to_frame()

                     source_domain
arabic.rt.com               334268
aljazeera.net               109141
bbc.com                      94734
arabic.euronews.com          46079
arabic.cnn.com               16091

In [61]:
df.columns

Index(['title', 'description', 'date_modify', 'date_download', 'date_publish',
       'language', 'source_domain', 'localpath', 'url', 'text', 'filename',
       'image_url', 'authors', 'title_page', 'title_rss'],
      dtype='object')

In [62]:
df.title_rss.value_counts()

NULL    600313
Name: title_rss, dtype: int64

In [63]:
df.language.value_counts()

ar    600313
Name: language, dtype: int64

In [64]:
df.drop(columns=['title_rss', 'date_modify', 'language', 'filename', 'localpath'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600313 entries, 0 to 600312
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          600313 non-null  object
 1   description    596553 non-null  object
 2   date_download  600313 non-null  object
 3   date_publish   597703 non-null  object
 4   source_domain  600313 non-null  object
 5   url            600313 non-null  object
 6   text           600313 non-null  object
 7   image_url      600313 non-null  object
 8   authors        600313 non-null  object
 9   title_page     600313 non-null  object
dtypes: object(10)
memory usage: 45.8+ MB

In [65]:
import numpy as np 
def short_date(d):
  if d:
    return d[:10]
  else: 
    return np.nan
df.date_download = df.date_download.apply(short_date)
df.date_publish = df.date_publish.apply(short_date)
df.head()

                             title  ...                       title_page
0           قطر تشتري حصة بشركة شل  ...           قطر تشتري حصة بشركة شل
1       مجلس الأمن يبحث طلب فلسطين  ...       مجلس الأمن يبحث طلب فلسطين
2  بلاتر: العقوبة ضد السودان عادلة  ...  بلاتر: العقوبة ضد السودان عادلة
3   العراق يلغي صفقة سلاح مع روسيا  ...   العراق يلغي صفقة سلاح مع روسيا
4         جدل بمصر حول قرارات مرسي  ...         جدل بمصر حول قرارات مرسي

[5 rows x 10 columns]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600313 entries, 0 to 600312
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          600313 non-null  object
 1   description    596553 non-null  object
 2   date_download  600313 non-null  object
 3   date_publish   597703 non-null  object
 4   source_domain  600313 non-null  object
 5   url            600313 non-null  object
 6   text           600313 non-null  object
 7   image_url      600313 non-null  object
 8   authors        600313 non-null  object
 9   title_page     600313 non-null  object
dtypes: object(10)
memory usage: 45.8+ MB

In [67]:
df

                                                    title  ...                                         title_page
0                                  قطر تشتري حصة بشركة شل  ...                             قطر تشتري حصة بشركة شل
1                              مجلس الأمن يبحث طلب فلسطين  ...                         مجلس الأمن يبحث طلب فلسطين
2                         بلاتر: العقوبة ضد السودان عادلة  ...                    بلاتر: العقوبة ضد السودان عادلة
3                          العراق يلغي صفقة سلاح مع روسيا  ...                     العراق يلغي صفقة سلاح مع روسيا
4                                جدل بمصر حول قرارات مرسي  ...                           جدل بمصر حول قرارات مرسي
...                                                   ...  ...                                                ...
600308  رجل يحاول تهريب بيض صقور نادرة قيمتها 100 ألف ...  ...  رجل يحاول تهريب بيض صقور نادرة قيمتها 100 ألف ...
600309  تقارير: "البحرية الأمريكية" نفذت هجوما ضد حركة...  ...  تقارير: "البحرية الأمريكية" نفذت هجوما ضد حركة...
600310  بريطانيا: دعوة لدعم العلاج النفسي لقدامي المحا...  ...  بريطانيا: دعوة لدعم العلاج النفسي لقدامي المحا...
600311  أفراد من الحرس الجمهوري اليمني يتظاهرون احتجاج...  ...   أفراد من الحرس الجمهوري اليمني يتظاهرون احتجا...
600312  أردوغان يرد بغضب على وصف البابا قتل الأرمن في ...  ...  أردوغان يرد بغضب على وصف البابا قتل الأرمن في ...

[600313 rows x 10 columns]

In [68]:
df.to_csv('Arabic_news.csv', index=False)

In [70]:
sources = df['source_domain'].unique().tolist()
sources

['aljazeera.net',
 'arabic.cnn.com',
 'arabic.euronews.com',
 'arabic.rt.com',
 'bbc.com']

In [71]:
for source in sources:
  src_df = df[df['source_domain'] == source]
  src_df.to_csv(source + '_Arabic_news.csv', index=False)